body {
  background-color: #8c8cd230!important;
  margin-top: 50px!important;
  border: 1px dotted gray;
  padding: 10px 10px 10px 10px;
}
.text-block {
  margin: 30px;
}
nav {
  color: white;
}
.carousel {
  height: 500px;
}
.carousel-inner {
  background: radial-gradient(#dbdeec, #e9e9f6);
}
.carousel-inner img {
  height: 500px;
  margin: auto;
}
.comm_image, .view_image {
  height: 3vh;
}