body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: #8c8cd230!important;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  border:           1px dotted gray;
  padding:          10px 10px 10px 10px;
}
h2 {
  font-size:        150%;
}
.text-block {
  margin-top: 70px;
}
nav {
  color: white;
}