{% extends 'base.html' %}
{% block body %}
<form method='post' action='/add_post'>
  <div class="form-group">
    <label for="post_name">Название</label>
    <textarea class="form-control" name="post_name" id="post_name" rows="1">{% block name %}{% endblock %}</textarea>
  </div>
  <div class="form-group">
    <label for="post_description">Описание</label>
    <textarea class="form-control" name="post_description" id="post_description" rows="3">{% block description %}{% endblock %}</textarea>
  </div>
  <div class="form-group">
    <label for="post_content">Содержание</label>
    <textarea class="form-control" name="post_content" id="post_content" rows="7">{% block content %}{% endblock %}</textarea>
  </div>
  <div class="form-group">
    <label for="post_tags">Теги</label>
    <textarea class="form-control" name="post_tags" id="post_tags" rows="2">{% block tags %}{% endblock %}</textarea>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Вводить через точку с запятой
    </small>
  </div>
  <div class="form-group">
    <label for="post_pictures">Ссылки изображений</label>
    <textarea class="form-control" name="post_pictures" id="post_pictures" rows="3">{% block pictures %}{% endblock %}</textarea>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Вводить через запятую
    </small>
  </div>
  <button class="btn btn-lg btn-primary" type="submit">Готово!</button>
</form>
{% endblock %}