{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Палуба</h5>
      <p class="card-text">Па́луба, также дек (англ. deck) — архитектурный элемент судна, горизонтальное перекрытие в
        корпусе или надстройках, опирающееся на борта, переборки и пиллерсы (при их наличии) и состоящее из набора
        (бимсов, карлингсов и др.) и настила (обычно деревянного или металлического)</p>
      <a href="deck" class="btn btn-primary">Перейти к статье</a>
    </div>
  </div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Переборки</h5>
    <p class="card-text">Переборка — вертикальная стенка внутри корпуса судна, кроме двойного борта, разделяющая
      внутреннее пространство на отсеки.</p>
    <a href="bulkheads" class="btn btn-primary">Перейти к статье</a>
  </div>
</div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Двойное дно</h5>
    <p class="card-text">Кораблестроительный термин, часть корпуса судна: водонепроницаемый настил, привариваемый к
      верхним кромкам днищевого набора на расстоянии нескольких футов от основного дна.</p>
    <a href="double_buttom" class="btn btn-primary">Перейти к статье</a>
  </div>
</div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Служебное помещение</h5>
    <p class="card-text">Помещения для размещения персонала станции.</p>
    <a href="office_space" class="btn btn-primary">Перейти к статье</a>
  </div>
</div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Трубы</h5>
    <p class="card-text">Удлинённая вертикальная или с наклоном в сторону кормы судна конструкция, возвышающаяся над
      надстройками (рубками) судна и предназначена для отвода продуктов горения в атмосферу.</p>
    <a href="pipes" class="btn btn-primary">Перейти к статье</a>
  </div>
</div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Мачта</h5>
    <p class="card-text">вертикально стоящая конструкция на судне, обычно поддерживаемая оттяжками, т. н. вáнтами, часть
      парусного вооружения на яхтах и парусниках.</p>
    <a href="masts" class="btn btn-primary">Перейти к статье</a>
  </div>
</div>
{% endblock %}