{% extends 'base.html' %}
{% block body %}
{% for post in the_posts %}
<div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{ post[0] }}</h5>
      <p class="card-text">{{ post[2] }}</p>
      <a href="/post/{{ post[1] }}" class="btn btn-primary">Перейти к статье</a>
      {% if request.cookies.get('user') == "admin" %}
      <a href="/edit_post?post={{ post[1] }}" class="btn btn-success">Редактировать</a>
      <a href="/del_post?post={{ post[1] }}" class="btn btn-danger">Удалить</a>
      {% endif %}
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% block href %}
    {% endblock %}
  </ul>
</nav>
{% endblock %}