{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
<p>«Титаник» имел две мачты. Первая располагалась на полубаке, вторая возвышалась над кормовой частью открытого променада палубы А. Расстояние между ними составляло 180 м. Обе мачты были стальными с верхней частью из тика. На передней мачте, на высоте 29 м над ватерлинией, размещалась марсовая площадка («воронье гнездо»), добраться до которой можно было по внутреннему металлическому трапу. Мачты использовались в качестве опор антенны судовой радиостанции. На топ (вершину) кормовой мачты поднимался красный треугольный вымпел компании «Уайт Стар Лайн» с изображением белой пятиконечной звезды[69].</p>
{% endblock %}