{% extends 'base.html' %}
{% block body %}
<div class="btn-toolbar m-4" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-light">
      Просмотров
      <span class="badge badge-pill badge-primary">{{ the_visits }}</span>
    </button>
    {% if the_checked %}
    <form class="form-inline" method='post' action='/favor_del?post={{ the_info[0] }}'>
      <button type="submit" class="btn btn-light">
        <img
            class="favor_image mx-3"
            src="http://s1.iconbird.com/ico/0612/GooglePlusInterfaceIcons/w128h1281338911352heart.png"
            alt="favor_no">
      </button>
    </form>
    {% else %}
    <form class="form-inline" method='post' action='/favor?post={{ the_info[0] }}'>
      <button type="submit" class="btn btn-light">
        <img
            class="favor_image mx-3"
            src="http://s1.iconbird.com/ico/2013/3/637/w128h128139396832520.png"
            alt="favor_no">
      </button>
    </form>
    {% endif %}
  </div>
</div>
<div class="text-block">{{ the_info[3] }}</div>
{% if the_pictures %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for pictures in the_pictures %}
          <div class="carousel-item {% if pictures == the_pictures|first %}active{% endif %}">
            <img src="{{ pictures }}" class="d-block max-vw-100 rounded-lg" alt="...">
          </div>
          {% endfor %}
        </div>
        {% if the_pictures|length >= 2 %}
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="false"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="false"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if the_tags %}
  <div class="row justify-content-center">
    <nav class="navbar navbar-light my-3">
      <form class="form-inline">
        {% for tags in the_tags %}
        <a href="/tags/{{ tags }}">
          <button class="btn btn-outline-success" type="button">{{ tags }}</button>
        </a>
        {% endfor %}
      </form>
    </nav>
  </div>
  {% endif %}
  <form method='post' action='/add_сomment?post={{ the_info[0] }}'>
    <div class="row justify-content-center my-3">
      <div class="col-7">
        <div class="form-group">
          <label for="comm_author">Оставить комментарий</label>
          <input class="form-control w-75" name="comm_author" id="comm_author" placeholder="Имя">
          <textarea class="form-control" name="comm_text" id="comm_text" rows="3" placeholder="Текст"></textarea>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Отправить комментарий</button>
      </div>
    </div>
  </form>
  {% if the_comments %}
  {% for comments in the_comments %}
  <div class="row justify-content-center">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">{{ comments[2] }}</h5>
        <p class="card-text">{{ comments[1] }}</p>
        <p class="card-text">{{ comments[3] }}</p>
        {% if request.cookies.get('user') == "admin" %}
        <a href="/edit_comm?post={{ comments[0] }}" class="btn btn-success">Редактировать</a>
        <a href="/del_comm?post={{ comments[0] }}" class="btn btn-danger">Удалить</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% if the_comment_pages|length >= 2 %}
  <div class="row justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% for page in the_comment_pages %}
        <li class="page-item"><a class="page-link" href="/post/{{ the_info[0] }}/{{ page }}">{{ page }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}