{% extends 'base.html' %}
{% block body %}
<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">{{ the_titles }}</a>
  <form class="form-inline" method='POST' action='/search'>
    <input class="form-control mr-sm-2" type="search" name="search_word" placeholder="Введите значение" aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
  </form>
</nav>
{% for post in the_posts %}
<div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{ post[0] }}</h5>
      <p class="card-text">{{ post[2] }}</p>
      <a href="post/{{ post[1] }}" class="btn btn-primary">Перейти к статье</a>
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for page in the_pages %}
    <li class="page-item"><a class="page-link" href="{{ page }}">{{ page }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endblock %}