<head>
  <title>Masts</title>
  <meta name="description" content="sailing vessel is a tall spar, or arrangement of spars, erected more or less vertically on the centre-line of a ship or boat">
</head>
{% extends 'base.html' %}
{% block body %}
<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Вернуться к содержанию</a>
  <h2>{{ the_title }}</h2>
</nav>
<div class="text-block">
  <p>«Титаник» имел две мачты. Первая располагалась на полубаке, вторая возвышалась над кормовой частью открытого променада палубы А. Расстояние между ними составляло 180 м. Обе мачты были стальными с верхней частью из тика. На передней мачте, на высоте 29 м над ватерлинией, размещалась марсовая площадка («воронье гнездо»), добраться до которой можно было по внутреннему металлическому трапу. Мачты использовались в качестве опор антенны судовой радиостанции. На топ (вершину) кормовой мачты поднимался красный треугольный вымпел компании «Уайт Стар Лайн» с изображением белой пятиконечной звезды[69].</p>
</div>
{% endblock %}